header {
  background-color: #fff;
  padding: 10px 0;
  .logo {
    display: flex;
    align-items: center;
    img {
      height: 32px;
    }
    span {
      font-size: 32px;
      font-weight: bold;
      color: #1d1d1d;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
  li {
    padding: 8px;
    margin: 0 10px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
  }
}

@media screen and (max-width: 670px) {
  header {
    padding: 0;
    padding-top: 16px;
    .container {
      flex-wrap: wrap;
    }
    ul {
      order: 1;
      flex-basis: 100%;
      justify-content: center;
      margin-top: 20px;
      flex-wrap: wrap;
    }
    li {
      flex: 1;
      margin: 0;
      text-align: center;
      &.active {
        flex: 2;
        color: $pColor;
        font-weight: bold;
        border-bottom: 2px solid $pColor;
      }
    }
  }
}
